<%- include('admin_common/admin_header',{ cssFilePaths:["/assets/css/admin_forumusers.css"] }) %>
<section>
    <h2>Forum Members</h2>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-danger active">
            <input type="radio" name="user_type" value="alumni" autocomplete="off" checked> Alumni
        </label>
        <label class="btn btn-danger">
            <input type="radio" name="user_type" value="student" autocomplete="off"> Student
        </label>
        <label class="btn btn-danger">
            <input type="radio" name="user_type" value="guest" autocomplete="off"> Guest
        </label>
    </div>
</section>

<div class="module-wrapper">
    <div class="user-type-selector-wraper">
        <span class="selected-user-count">0</span> users selected. Change user type to
        <select name="" id="user_type_selector">
            <option value="0" selected>Choose...</option>
            <option value="alumni">Alumni</option>
            <option value="student">Student</option>
            <option value="guest">Guest</option>
        </select>
    </div>
    <div class="user-list-wrapper">
    </div>
</div>

<script id="user_element_template" type="text/html">
        <div class="user-element" id="{{username}}">
            <input type="checkbox" {{#checked}}checked{{/checked}}>
            <div class="username"><a href="/profile?username={{username}}">{{username}}</a></div>
            <div class="full-name">{{name}}</div>
            <div class="email">({{email}})</div>
            <div class="whitespace"></div>
            <div class="joined">Joined : <span class="date">{{createdAt}}</span></div>

            <div class="right-count"><i class="fas fa-map-marked" title="Location"></i> <span class="value">{{location}}</span></div>
            <div class="right-count"><i class="fas fa-comment-alt" title="Posts"></i> <span class="value">{{posts}}</span></div>
            <div class="right-count"><i class="fas fa-thumbs-up" title="Likes"></i> <span class="value">{{upvotes}}</span></div>
            <div class="right-count"><i class="fas fa-ban block" title="Block user"></i></div>
            <div class="right-count"><i class="fas fa-unlock unblock" title="Unblock user"></i></div>

        </div>
</script>

<%- include('admin_common/admin_footer', { jsFilePaths: ["/assets/js/admin_forumusers.js"] }) %>
