<%- include('admin_common/admin_header',{ cssFilePaths:["/assets/css/adminblog.css"] }) %>


    <div class="container">


    	<div class="form-group">
    		<center><label for="">Blog Title</label></center>
    		<input id="blogtitle" type="text" class="form-control" placeholder="Enter title for the Blog"></input>
    	</div>
      <div class="form-group">
    		<center><label for="">Body</label></center>
    		<input type="text" id="body-small" type="text" class="form-control" placeholder="Enter small body to view in the blog list"></input>
    	</div>
      <label for="blog_image_input" class="file-label">
        Blog featured image
        <input type="file" id="blog_image_input">
      </label>
      <div class="form-group">
        <center><label for="">Body</label></center>
        <textarea id="body" type="text" class="form-control"></textarea>
      </div>
      
  
    	<button id="create_category_button" class="btn btn-primary">Create Blog</button>

  </div>

<script type="text/javascript" src="/assets/js/nicEdit.js"></script>
<script type="text/javascript">
    let textarea;
    bkLib.onDomLoaded(function() {
      document.body.style.opacity='1'
        let nicObejct = new nicEditor({
          buttonList: ['bold','italic','underline','left','center','right','justify','ol','ul','subscript','superscript','strikethrough','removeformat','indent','outdent','hr','upload','forecolor','bgcolor','fontSize','fontFamily','fontFormat'],
          maxHeight : 360
        });
        nicObejct.panelInstance('body');
        textarea = nicObejct.instanceById("body");
    });
</script>
<%- include('admin_common/admin_footer', { jsFilePaths: ["/assets/js/adminblog.js"] }) %>
