<%- include('admin_common/admin_header',{ cssFilePaths:["/assets/css/admin_enquiry.css"] }) %>
<section>
    <h2>Enquiry Messages</h2>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-danger active">
            <input type="radio" name="read_unread_radio" value="unread" autocomplete="off" checked> Unread
        </label>
        <label class="btn btn-danger">
            <input type="radio" name="read_unread_radio" value="read" autocomplete="off"> Read
        </label>
    </div>
</section>

<div class="message-list">

    <div class="message-element">
        <div class="message">Any support for use of regex checks for e-mails I am 100% against. I'm tired of being told my e-mail address of "foo+bar@gmail.com" is invalid. The best option is to ask the user to type their e-mail in twice and if you MUST use a regex checker, the</div>
        <div class="name-email-dt-div">
            <div class="name">abcd</div>
            <div class="email">someone@something.com</div>
            <div class="datetime">87/98/5875</div>
            <div class="btn btn-link">Mafrk Read</div>
        </div>
    </div>

</div>

<script id="message_element_template" type="text/html">

    <div class="message-element" id="{{id}}">
        <div class="message">
          <p>{{message}}</p>
          <p>GRE: {{gre}}</p>
          <p>TOEFL: {{toefl}}</p>
          <p>IELTS: {{ielts}}</p>
          <p>PHONE: {{phone}}</p>
          <p>CGPA: {{cgpa}}</p>
        </div>
        <div class="name-email-dt-div">
            <div class="name">{{name}}</div>
            <div class="email">{{email}}</div>
            <div class="datetime">{{createdAt}}</div>
            <div class="buttons">
              {{#read}}
                  <button class="btn btn-link mark-unread">Mark Unread</button>
              {{/read}}
              {{^read}}
                  <button class="btn btn-link mark-read">Mark Read</button>
              {{/read}}

              <button class="btn btn-link delete-button">Delete</button>

            </div>

        </div>
    </div>

</script>

<%- include('admin_common/admin_footer', { jsFilePaths: ["/assets/js/admin_enquiry.js"] }) %>
