<%- include('common/forum_header') %>
<link rel="stylesheet" href=".././assets/css/blogs.css">
</head>

<body   onload="document.body.style.opacity='1'">
    <%- include('common/nav') %>


       <section class="publicaciones-blog-home">
      <div class="container">
        <div class="">
          <h2>Blogs</h2>
          <p>
            Welcome to the blog section on Uni-Mantra.We are an overseas education consulting firm. At Uni-Mantra, we do an intensive education related research in order to provide you the best overseas options.Keep yourself updated by reading our blogs regularly.
          </p>
          <div class="row-page row">




            <!-- <div class="col-page col-sm-4 col-md-3">
              <a href="#" class="todas-las-publicaciones-home">
                  <span>Neque porro quisquam est qui dolorem ipsum</span>
              </a>
            </div> -->

          </div>
          <div class="heading-list-container">
            <h1 style="font-size: 15px; color:white;"> <b><i class="fas fa-list"></i> List</b></h1>
          </div>
          <div class="list-container">

            <center> <button class="show-more-button" type="button" id="show-more-button">Show more </button> </center>
          </div>
        </div>
      </div>
    </section>



      <%- include('common/forum_js_includes') %>
      <script type="text/html" id="blog_list_template">
        <div class="list-item" id="{{blogid}}">
          <a  href="/blogpost?blogid={{blogid}}" ><h1>{{title}} <span class="createdAt"> posted: {{createdAt}}</span></h1></a>
          <p>
            {{body}}
            <span class="likes-votes">
              <i class="fas fa-thumbs-up" title="Upvotes"></i> {{upvotes}}
              <i class="fa fa-eye" aria-hidden="true" title="Views"></i>   {{comments}}
              <i class="fa fa-comments" aria-hidden="true" title="Comments"></i> {{views}}
            </span>
          </p>
          <hr > </hr>
        </div>
      </script>
      <script type="text/html" id="blog_template">
        <div class="col-page col-sm-4 col-md-3">
          <a  href="/blogpost?blogid={{blogid}}" class="fondo-publicacion-home">
            <div class="img-publicacion-home">
              {{#imagePresent}}
              <img class="img-responsive" src="uploads/{{featuredImage}}">
              {{/imagePresent}}
              {{^imagePresent}}
              <img class="img-responsive" src="uploads/default_blog_featured_image.png">
              {{/imagePresent}}
            </div>
            <div class="contenido-publicacion-home">
              <h3>{{title}}</h3>
              <p style="color:#a8a8a8; font-size:12px;"> Posted at:  {{createdAt}} </p>
              <p style="font-size:16px;">{{body}}<span>...</span></p>

              <p class="pull-right" style="color:#a8a8a8"><i class="fa fa-eye"></i>   {{views}}      <i class="fa fa-thumbs-up"></i>   {{upvotes}}      <i class="fa fa-comments" aria-hidden="true"></i>   {{comments}}      </p>
            </div>
            <div class="mascara-enlace-blog-home">
              <span>Read More </span>
            </div>
          </a>
        </div>
      </script>
      <script type="text/javascript" src=".././assets/js/particle.js"></script>
      <script type="text/javascript" src=".././assets/js/blogs.js"></script>
    <%- include('common/forum_footer') %>
