<%- include('common/forum_header') %>
<link rel="stylesheet" href=".././assets/css/categoriestags.css">
</head>
<header></header>
<body onload="document.body.style.opacity='1'">
<%- include('common/nav') %>

<div class="container">
	<h3>All tags</h3>
	<div class="tags-wrapper">
	</div>

	<h3>All categories</h3>
	<div class="categories-wrapper">
	</div>
</div>

<script id="tag_template" type="text/html">

	<div class="tag">
		<a href="/threadlisttags/{{tagName}}">#{{tagName}}</a>
	</div>

</script>

<script id="category_template" type="text/html">

	<div class="category-template">
		<div class="parent-category" title="Category">
			{{parentCategoryName}}<br>
			<p title="Description">{{parentCategoryDescription}}</p>
		</div>
		<div class="chlid-category-wrapper">
			<ul>
				{{#childs}}<li title="Sub-Category"><a href="/threadlist/{{_id}}">{{categoryname}}</a><br><p title="sub-category description">{{categorydescription}}</p></li>{{/childs}}
			</ul>
		</div>
	</div>

</script>



<%- include('common/forum_js_includes') %>

<script src="/assets/js/categoriestags.js"></script>

<%- include('common/forum_footer') %>
