<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login</title>

    <link href=".././assets/css/bootstrap3.css" rel="stylesheet">
    <link href=".././assets/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

	<body>

    <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center><img width="200px;" src=".././assets/img/unimantra.png" style="margin:50px;"></img></center>
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr class="left-hr">
          <hr class="right-hr">
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" class="login" style="display: block;">

                <div class="input" style="margin-bottom: 20px;">
                    <input type="text" placeholder="Username..." autofocus=""  id="login_email"/>
                    <span><i class="fa fa-user"></i></span>

                </div>
                <div class="input" style="margin-bottom: 20px;">
                    <input type="password" placeholder="Password..." autofocus=""  id="login_password"/>
                    <span><i class="fa fa-key"></i></span>

                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input name="login-submit" type="button" id="login_button" tabindex="4" class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="/passwordreset" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" class="register" style="display: none;">
                <div class="input" style="margin-bottom: 20px;">
                    <input type="text" id="user_name" placeholder="Username..." autofocus="" />
                    <p id="registernametick"><i class="fa fa-check" style="color:green"></i></p>
                    <span><i class="fa fa-user"></i></span>
                </div>
                <div class="input" style="margin-bottom: 20px;">
                    <input type="text" id="register_email" placeholder="Email..." autofocus="" />
                    <span><i class="fa fa-envelope"></i></span>
                    <p id="registeremailtick"><i class="fa fa-check" style="color:green"></i></p>
                    <p id="registeremailredtick"><i class="fa fa-close" style="color:red"></i></p>
                </div>
                <div class="input" style="margin-bottom: 20px;">
                    <input type="password" id="register_password" placeholder="Password..." autofocus="" />
                    <span><i class="fa fa-key"></i></span>
                    <p id="registerpasswordtick"><i class="fa fa-check" style="color:green"></i></p>
                    <p id="registerpasswordredtick" title="Password must contain a letter and a number"><i class="fa fa-close" style="color:red"></i></p>
                </div>
                <div class="input" style="margin-bottom: 20px;">
                    <input type="password" id="register_confirm_password" placeholder="Confirm Password..." autofocus="" />
                    <span><i class="fa fa-key"></i></span>
                    <p id="registerconfirmpasswordtick"><i class="fa fa-check" style="color:green"></i></p>
                    <p id="registerconfirmpasswordredtick" title="Please check password constraints"><i class="fa fa-close" style="color:red"></i></p>
                </div>
                <div class="form-group">
                  <center>
                  <div class="row" id="activation_message">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input name="register-submit" type="button" id="register_button" tabindex="4" class="form-control btn btn-register" value="Register Now">
                    </div>
                  </div>
                </center>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <script type="text/javascript" src=".././assets/js/jquery.js"></script>
        <script src=".././assets/js/deparams.js"></script>
        <script type="text/javascript" src=".././assets/js/login.js"></script>

	</body>

</html>
