<%- include('common/forum_header') %>
<link rel="stylesheet" href=".././assets/css/openedblog.css">
</head>
<header>
</header>
<body >
    <%- include('common/nav') %>


<div class="container main-container">
  <div class="inside-container">

  </div>
</div>
<div class="container container-2">

      <div class="comment-heading">
        <span class="left">
          <div class="blog-post-stats-count"><span id="blog_comment_count">-</span> Comments</div>
          <div class="blog-post-stats-count"><span id="blog_view_count">-</span> Views </div>
          <div class="blog-post-stats-count"><span id="blog_upvote_count">-</span> Likes</div>
        </span>
        <span class="right">
          <i class="fa fa-trash" id="deleteBlog" aria-hidden="true" title="Delete"></i>&nbsp; &nbsp;&nbsp;
           <i id="upvote_button" class="fas fa-thumbs-up" title="Upvote"></i>
           <i id="downvote_button" class="fas fa-thumbs-down" title="Downvote"></i> &nbsp; &nbsp;
           <i class="fa fa-comment show-textarea" aria-hidden="true" title="Comment"></i>

        </span>

        <div class="create-comment">
            <textarea placeholder="Type your comment here" id="create-comment-textarea"></textarea>
            <div class="btn-wrapper">
              <button class="un-btn commentButton" title="Create comment"><i class="fas fa-plus"></i></button>
            </div>
        </div>
      </div>

  <div class="comments-wrapper">
  </div>
</div>
<canvas class="background">
</canvas>

<script id="blog_template" type="text/html">
  <div class="blog-title">
    {{title}}
  </div>
  <div class="blog-meta">
      <span class="blog-datetime"><i class="far fa-clock" title="Published on"></i> {{createdAt}}</span>
      <span style="color:#cc3232 ;padding:10px;"><i class="fa fa-eye" aria-hidden="true" title="Views"></i> {{views}}</span>
  </div>
  {{#imagePresent}}
  <img src="uploads/{{featuredImage}}" class="blog-image">
  {{/imagePresent}}

  <div class="blog-body">
    {{{body}}}
  </div>

</script>

<script id="comment_template" type="text/html">

  <div class="individual-comment" id="{{id}}">
    <div class="image-wrapper">
      <img src="{{avatar}}" width="40px;">
      <p> {{creatorName}} </p>
    </div>
    <div class="comment-data">
      <p style="float: left; font-size:16px;"> {{comment}}</p>
      <p style="float: right; font-size: 12px; color: #a9a9a9;"> Created at: {{createdAt}} </p>
    </div>
    <button class="delete-comment" id="{{id}}btn"> <i class="fa fa-trash" aria-hidden="true"></i> </button>
  </div>

</script>

<%- include('common/forum_js_includes') %>
<script type="text/javascript" src=".././assets/js/particle.js"></script>
<script type="text/javascript" src=".././assets/js/openedblog.js"></script>


<%- include('common/forum_footer') %>
