<%- include('common/forum_header') %>
<link rel="stylesheet" href=".././assets/css/search.css">
</head>
<header>
</header>
<body onload="document.body.style.opacity='1'">
  <%- include('common/nav') %>

<div class="container">
	<h1 style="font-size:20px; color: #a9a9a9;"> Search Results </h1>
	<div class="threads-wrapper"></div>
<!-- 	<div class="thread-element">
		<div class="title">This is the thread title</div>
		<div class="stats"><i class="fas fa-eye"></i> 0 <i class="fas fa-reply"></i> 0 <i class="fas fa-thumbs-up"></i> 0</div>
		<div class="tags">#someone #yahoo #google</div>
		<div class="body">Samsung galaxy s sfjjs jfl sjfls lfs flsdjf lsdjflsdfs ls sdlfls fjsdj lsjslkjl sfsjflsdlsdjfls slf sdlfsd flsdjf lsdf  ljiewowiq  q ljagogle gosams samsung galaxt s3 pri ci sojos Samsung galaxy s sfjjs jfl sjfls lfs flsdjf lsdjflsdfs ls sdlfls fjsdj lsjslkjl sfsjflsdlsdjfls slf sdlfsd flsdjf lsdf  ljiewowiq  q ljagogle gosams samsung galaxt s3 pri ci sojos Samsung galaxy s sfjjs jfl sjfls lfs flsdjf lsdjflsdfs ls sdlfls fjsdj lsjslkjl sfsjflsdlsdjfls slf sdlfsd flsdjf lsdf  ljiewowiq  q ljagogle gosams samsung galaxt s3 pri ci sojos </div>
		<div class="meta">created by manugutpa on 10/10/1658 last reply on 42/21/2123</div>
	</div> -->

</div>

<center>
  <div class="pagination">
<!--       <a >&laquo;</a>
      <a >1</a>
      <a class="active">2</a>
      <a >3</a>
      <a >4</a>
      <a >5</a>
      <a >6</a>
      <a >&raquo;</a> -->
  </div>
</center>

<%- include('common/forum_js_includes') %>



<script id="thread_element_template" type="text/html">

	<div class="thread-element">
		<a href="thread/{{compositeId}}" class="title" title="Title"> <i class="fas fa-question-circle" ></i>   {{title}}</a>
		<div class="stats"><i class="fas fa-eye" title="Views"></i> {{viewCount}} <i class="fas fa-reply" title="Replies"></i> {{replyCount}} <i class="fas fa-thumbs-up" title="Upvotes"></i> {{voteCount}}</div>
		<div class="tags">
      Tags:
			{{#tags}}
				<a href="threadlisttags/{{.}}">#{{.}}</a>
			{{/tags}}
		</div>
		<div class="body">{{{body}}}</div>
		<div class="meta"><i class="fas fa-user" title="Creator"></i> <a href="profile?username={{creatorUsername}}">{{creatorUsername}}</a> <span  style="float:right"><i class="fas fa-clock" title="Created At"></i> {{createdAt}} <i class="fas fa-reply" title="Last reply at"></i> {{lastReplyAt}}</span></div>
	</div>


</script>

<script type="text/javascript" src=".././assets/js/search.js"></script>

<%- include('common/forum_footer') %>
