<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login</title>

    <link href=".././assets/css/bootstrap3.css" rel="stylesheet">
    <link href=".././assets/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

	<body>

    <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <center><img width="200px;" src=".././assets/img/unimantra.png" style="margin:50px;"></img></center>
      <div class="panel panel-login">
        <div class="panel-body">
          <center>
            <i class="fas fa-user-plus" style="font-size:100px; color: #CC3232; margin:20px;"></i>
            <h4 id="display_msg_div"></h4>
              <input name="login-submit" type="button" id="login_button" tabindex="4" class="form-control btn btn-login" value="Log-in / Sign-up" style="margin:20px;">
          </center>

        </div>
      </div>
    </div>
  </div>
</div>

      <script type="text/javascript" src=".././assets/js/jquery.js"></script>
        <script src=".././assets/js/deparams.js"></script>
        <script type="text/javascript" src=".././assets/js/useractivation.js"></script>

	</body>

</html>
