<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
<!-- 	<link rel="shortcut icon" href="img/fav.png"> -->
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title> Unimantra:Home </title>
<!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" > -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.4/collection/icon/icon.css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
  <!--
  CSS
  ============================================= -->
  <link rel="stylesheet" href=".././assets/css/website/linearicons.css">
  <link rel="stylesheet" href=".././assets/css/website/owl.carousel.css">
  <link rel="stylesheet" href=".././assets/css/website/bootstrap.css">
  <link rel="stylesheet" href=".././assets/css/website/main.css">
  <link rel="stylesheet" href=".././assets/css/website/index.css">
  <link rel="stylesheet" href=".././assets/css/website/custom.css">
  <link rel="stylesheet" href="/assets/css/header.css">
</head>
<header>
</header>
	<body onload="document.body.style.opacity='1'">
    <%- include('common/nav') %>

		<div class="main-wrapper-first">
			<header>

				<div class="container">


				</div>
			</header>
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<span class="text-white top text-uppercase">Need career guidance?</span>
								<h1 class="text-white text-uppercase">We provide right guidance</h1>
								<a href="/forum" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- Start Service Area -->
		</div>
		<div class="main-wrapper">
			<section class="amazing-works-area">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="section-title text-center">
								<h3>Our Services</h3>
							</div>
						</div>
					</div>

					<div class="active-works-carousel mt-40">
						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/visa.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Visa Process</h6>
								<p>After admit to the university for the desired course and location, the next significant step is Visa processing. This process involves requirements of several documents and filling the visa form. We guide you through the process, fill the form and provide the list of required documents. We also conduct mock interviews so that you get familiar with the interview process. </p>
							</div>

						</div>
						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/university-selection.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">University Selection</h6>
								<p>We suggest the universities keeping in mind the course you want to study, job opportunities, university location, scholarship availability, budget etc. The university list prepared is finalised only after personal discussion sessions. Our proficiency and experience will help you choose the best university for you.   </p>
							</div>
						</div>

						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/application.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Application Assistance</h6>
								<p>The way you portray your profile to the university plays a key role in getting and admit to the desired university. We here will help you fill out the university forms and also prepare the required documents like LOR and SOP while assuring that all university documents are submitted on time and as demanded.</p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/test-preparation.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Test Preparation</h6>
								<p>We help you prepare for the required tests as per the desired universities and get a high score so that you can get an admit to the university. </p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/coaching.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Country Selection</h6>
								<p>Whether you want to go for job, have a great learning experience, do some research or have best resources depends on the profile. We are here to guide which country will best suite your profile and provide you best learning experience.</p>
							</div>
						</div>
						<div class="item">
							<div class="thumb" style="background: url(.././assets/img/slide/briefing.png);"></div>
							<div class="caption text-center">
								<h6 class="text-uppercase">Pre-Departure Briefing</h6>
								<p>Having students in most of the countries which provide good education and opportunities, we have experience with knowledge about the location, culture, several rules specified by the country, requirements for student before going to university, things to carry etc. So before departure for pursuing your study, we provide a brief description of the country and introduce you to the university .</p>
							</div>
						</div>
					</div>

			</section>
		</div>
		<div class="main-wrapper">
			<!-- End Service Area -->




			<!-- Start Destination Area -->



			<!-- End Destination Area -->

			<!-- Start Coaching Area -->
			<section class="featured-area">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-sun"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">GRE</h6>
									<p>The Graduate Record Examination (GRE) is a standardized test that is an admissions requirement for most Graduate Schools in the United States.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-code"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">TOEFL</h6>
									<p>Test of English as a Foreign Language is a standardized test to measure the English language ability of non-native speakers wishing to enroll in English-speaking universities.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-clock"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">IELTS</h6>
									<p>The International English Language Testing System is an international standardised test of English language proficiency for non-native English language speakers.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Coaching Area -->


			<!-- Start GRE Area -->
            <div class="white-bg">
                <section class="featured-area">
                    <div class="container">
                        <div class="aboutus-container">
                            <h3 class="text-heading">About Exams</h3>
                            <div class="inner-container">
                                <!-- tab layout -->
                            <main>

                              <input id="tab1" type="radio" name="tabs" checked>
                              <label for="tab1">GRE</label>

                              <input id="tab2" type="radio" name="tabs">
                              <label for="tab2">TOEFL</label>

                              <input id="tab3" type="radio" name="tabs">
                              <label for="tab3">IELTS</label>



                              <section id="content1">
                                <p><center><b>Pattern</b></center></p>
                                 <table class='table'  style='margin-top:20px;'>
                                    <tr align='center'>
                                      <th><center>Sections</center></th>
                                      <th colspan="2"><center>Paper-Based</center></th>
                                      <th colspan="2"><center>Computer-Based</center></th>

                                    </tr>
                                    <tr align="center">
                                      <td></td>
                                      <th><center>Duration</center></th>
                                      <th><center>Sections</center></th>
                                      <th><center>Duration</center></th>
                                      <th><center>Sections</center></th>

                                    </tr>
                                    <tr>
                                      <td><center>Analytical Writing</center></td>
                                      <td><center>60 minutes</center></td>
                                      <td><center> 2 Sections, 2 tasks</center></td>
                                      <td><center>60 minutes</center></td>
                                      <td><center>1 Section, 2 tasks</center></td>

                                    </tr>
                                    <tr>
                                      <td><center>Verbal Reasoning</center></td>
                                      <td><center>70 minutes</center></td>
                                      <td><center>2 Sections, 50 questions</center></td>
                                      <td><center>60 minutes</center></td>
                                      <td><center>2 Sections, 40 questions</center></td>
                                    </tr>
                                    <tr>
                                      <td><center>Quantitative Reasoning</center></td>
                                      <td><center>80 minutes</center></td>
                                      <td><center>2 Sections, 50 questions</center></td>
                                      <td><center>70 minutes</center> </td>
                                      <td><center>2 Sections 40 questions</center></td>
                                    </tr>

                                 </table>

                                 <p style="margin-top: 50px;"><center><b>Scores</b></center></p>
                                 <table class='table'  style='margin-top:20px;'>
                                    <tr align='center'>
                                      <th><center>Section</center></th>
                                      <th><center>Score-Range</center></th>
                                    </tr>
                                    <tr align='center'>
                                      <td><center> Verbal Reasoning</center></td>
                                      <td><center>130–170, in 1 point increment</center></td>
                                    </tr>
                                    <tr align='center'>
                                      <td><center> Quantitative Reasoning</center></td>
                                      <td><center>130–170, in 1 point increments</center></td>
                                    </tr>
                                    <tr align='center'>
                                      <td><center> Analytical Writing</center></td>
                                      <td><center>0–6, in half-point increments</center></td>
                                    </tr>

                                 </table>
                              </section>

                              <section id="content2">
                                <p><center><b>Pattern</b></center></p>
                                 <table class='table'  style='margin-top:20px;'>
                                    <tr align='center'>
                                        <th><center>Section</center></th>
                                        <th><center>Time-Limit</center></th>
                                        <th><center>Number of Questions</center></th>
                                        <th><center>Task</center></th>
                                    </tr>
                                    <tr align="center">
                                        <td>Reading</td>
                                        <td>60–80 minutes</td>
                                        <td>36–56 questions</td>
                                        <td>Read 3 or 4 passages from academic texts and answer questions.</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Listening</td>
                                        <td>60–90 minutes</td>
                                        <td>34–51 questions</td>
                                        <td>Listen to lectures, classroom discussions and conversations, answer questions.</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Speaking</td>
                                        <td>20 minutes</td>
                                        <td>6 tasks</td>
                                        <td>Express an opinion on a familiar topic; speak based on reading and listening tasks.</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Writing</td>
                                        <td>50 minutes</td>
                                        <td>2 tasks</td>
                                        <td>Write essay responses based on reading and listening tasks; support an opinion in writing.</td>
                                    </tr>

                                 </table>

                                 <p style="margin-top: 50px;"><center><b>Scores</b></center></p>
                                 <table class='table'  style='margin-top:20px;'>
                                    <tr align='center'>
                                        <th><center>Section</center></th>
                                        <th><center>Score-Range</center></th>
                                        <th><center>Level</center></th>

                                    </tr>
                                    <tr align="center">
                                        <td>Reading</td>
                                        <td>0–30</td>
                                        <td>High (22–30)<br>
                                            Intermediate (15–21)<br>
                                            Low (0–14)
                                        </td>

                                    </tr>
                                    <tr align="center">
                                        <td>Listening</td>
                                        <td>0–30</td>
                                        <td>High (22–30)<br>
                                            Intermediate (15–21)<br>
                                            Low (0–14)
                                        </td>
                                    </tr>
                                    <tr align="center">
                                        <td>Speaking</td>
                                        <td>0–30</td>
                                        <td>Good (26–30)<br>
                                            Fair (18–25)<br>
                                            Limited (10–17)<br>
                                            Weak (0–9)
                                        </td>
                                    </tr>
                                    <tr align="center">
                                        <td>Writing</td>
                                        <td>0–30</td>
                                        <td>Good (24–30)<br>
                                            Fair (17–23)<br>
                                            Limited (1–16)
                                        </td>

                                    </tr>
                                    <tr align="center">
                                        <td>Total</td>
                                        <td>0–120</td>


                                    </tr>
                                 </table>
                              </section>

                              <section id="content3">
                                 <p><center><b>Pattern</b></center></p>
                                 <table class='table'  style='margin-top:20px;'>
                                    <tr align='center'>
                                        <th><center>Section</center></th>
                                        <th><center>Time-Limit</center></th>
                                        <th><center>Number of Questions</center></th>
                                        <th><center>Description</center></th>
                                    </tr>
                                    <tr align="center">
                                        <td>Reading</td>
                                        <td>60 minutes</td>
                                        <td>Four sections, 40 items</td>
                                        <td>Different for Academic and General Training <br>
                                            Band scale (0-9)</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Listening</td>
                                        <td>40 minutes</td>
                                        <td>Four sections, 40 items</td>
                                        <td>Same for Academic and General Training<br>
                                            Band scale (0-9)</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Speaking</td>
                                        <td>11 – 14 minutes</td>
                                        <td>Three-part one-on-one conversation</td>
                                        <td>Same for Academic and General Training<br>
                                            Band scale (0-9)</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Writing</td>
                                        <td>60 minutes</td>
                                        <td>Two tasks</td>
                                        <td>Different for Academic and General Training<br>
                                            Band scale (0-9)</td>
                                    </tr>
                                    <tr align="center">
                                        <td>Total</td>
                                        <td>2 hours 45 minutes</td>
                                        <td></td>
                                        <td>Band scale (0-9)</td>
                                    </tr>
                                 </table>


                              </section>



                            </main>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
			<!-- END GRE Area -->


			<!-- Start Feature Area -->
			<section class="featured-area-no-top">
				<div class="container" >
					<h1> We provide </h1>
					<div class="row">
						<div class="col-md-4">

							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-sun"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Reliability</h6>
									<p>You can count on us completely whether be it admission process, form filling, coaching etc.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-code"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Anytime assistance</h6>
									<p>We are ready to help and assist you anytime.We stay in touch the moment you connect with us. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="lnr lnr-clock"></span>
								</div>
								<div class="desc">
									<h6 class="title text-uppercase">Long-Term Relationship</h6>
									<p>Even post admission, we are there with you to help and stay connected as a friend.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Feature Area -->


			<!-- Start Align Area -->
			<div class="white-bg container-last">
				<div class="container">
                    <div class="contact-us-info">
					<div class="section-top-border">

						<div class="row">
							<div class="col-md-3">
								<div class="single-defination">
									<h4 class="mb-20"><span class="lnr lnr-earth"></span>	&nbsp;Office</h4>
									<p>
                                        Plot No. 194, R. K. Business Centre, Shivaji Nagar, Dharampeth, Nagpur - 440010, INDIA
                                    </p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="single-defination">
									<h4 class="mb-20"><span class="lnr lnr-clock"></span> &nbsp;Appointment</h4>
									<p>Monday to Saturday : <br>11 AM to 8 PM.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="single-defination">
									<h4 class="mb-20"><span class="lnr lnr-phone"></span> &nbsp;Contact</h4>
									<p>09158993869<br>ashish@unimantra.com</p>

								</div>
							</div>
                            <div class="col-md-3">
								<div class="single-defination">
									<h4 class="mb-20"><span class="lnr lnr-pencil"></span> &nbsp;Note</h4>
									<p>We do not have branch offices.</p>
								</div>
							</div>
						</div>
					</div>
                    </div>




            <div class="section-top-border">
                <div class="contactusform">
					<div class="col-md-12">
						<h3 class="mb-30"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp;Profile Evaluation</h3>
                                <div class="mt-10">
                                    <input id="first_name_input" type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
                                    <div id="first_name_error" class="validation_error">Please enter your first name.</div>
                                </div>
                                <div class="mt-10">
                                    <input id="last_name_input" type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
                                    <div id="last_name_error" class="validation_error">Please enter your last name.</div>
                                </div>
																<div class="mt-10">
                                    <input id="gre_score" type="text" name="gre_score" placeholder="GRE score" onfocus="this.placeholder = ''" onblur="this.placeholder = 'GRE Score'" required class="single-input">
                                    <div id="gre_score_error" class="validation_error">Please enter your GRE Score</div>
                                </div>
																<div class="mt-10">
                                    <input id="toefl_score" type="text" name="toefl_score" placeholder="TOEFL score" onfocus="this.placeholder = ''" onblur="this.placeholder = 'TOEFL Score'" required class="single-input">
                                    <div id="toefl_score_error" class="validation_error">Please enter your TOEFL Score</div>
                                </div>
																<div class="mt-10">
                                    <input id="ielts_score" type="text" name="ielts_score" placeholder="IELTS score" onfocus="this.placeholder = ''" onblur="this.placeholder = 'IELTS Score'" required class="single-input">
                                    <div id="ielts_score_error" class="validation_error">Please enter your IELTS Score</div>
                                </div>
																<div class="mt-10">
                                    <input id="cgpa_score" type="text" name="cgpa_score" placeholder="CGPA score" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CGPA Score'" required class="single-input">
                                    <div id="cgpa_score_error" class="validation_error">Please enter your CGPA Score</div>
                                </div>
																<div class="mt-10">
                                    <input id="phone_number" type="text" name="phone_number" placeholder="Phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'" required class="single-input">
                                    <div id="cgpa_score_error" class="validation_error">Please enter your Phone number</div>
                                </div>
                                <div class="mt-10">
                                    <input id="email_input" type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
                                    <div id="email_error" class="validation_error">Please a valid email address.</div>
                                </div>
                                <div class="mt-10">
                                    <textarea  id="message_input" class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
                                    <div id="message_error" class="validation_error">Please enter your message.</div>
                                </div>

                                <button id="submitbutton" class="primary-btn d-inline-flex align-items-center">
                                    <span class="">
                                        Submit
                                    </span>
                                </button>
                        </div>
					</div>
			</div>
		</div>
	</div>

		</div>




		<%- include('common/forum_js_includes') %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

		<script src="/assets/js/website/owl.carousel.min.js"></script>
		<script src="/assets/js/website/jquery.nice-select.min.js"></script>
		<script src="/assets/js/website/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/website/main.js"></script>
		<script src="/assets/js/website/index.js"></script>
		<script src="/assets/js/website/headerwebsite.js"></script>

</body>
</html>
