<!-- Footer -->
	<section id="footer">
		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item" ><a href="https://www.facebook.com/uni.mantra.9/"><i class="fab fa-facebook-f"></i></a></li>
						<!-- <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li> -->
						<li class="list-inline-item"><a href="https://www.instagram.com/unimantra"> <i class="fab fa-instagram"></i></a></li>
						<!-- <li class="list-inline-item"><a href="javascript:void();"> <i class="fab fa-google-plus-g"></i></a></li> -->
						<li class="list-inline-item"><a href="mailto:ashish@unimantra.com"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Uni Mantra is a registered consultancy service provider.</p>
					<h1 style="font-size:17px;">&copy All right Reserved.<a class="text-green ml-2" href="" ><b>Uni Mantra</b></a></h1>
          <h1 style="font-size:12px;"> Developed by <span style="font-size:16px; color:white;"><b>MinimalDevLabs</b></span><h1>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->

	<!-- FIXED LOGIN REQUEST -->
	<div class="login-request">
	  <h1><span id="close-login-request" style="float:right; margin-right:5px;"><i class="fas fa-times"></i></span> <i class="fab fa-connectdevelop"></i> Connect with us to ask your queries and get the insights of higher education and divergent career goals </h1>
		<a href="/login"><i class="fas fa-sign-in-alt"></i>&nbsp; Login or sign-up <img src=".././assets/img/unimantraheader.png" width="100px"></img></a>

	</div>

</body>
</html>
