<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.6/collection/icon/icon.css" rel="stylesheet" >

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/forum.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <title>UniMantra Network</title>
