<nav>
<div class="toggle">
  <div class="toggle-logo"><a href="/website" title="Website">UniMantra<span style="color: #6f6f6f;">Network</span></a></div>

  <i class="fa fa-bars menu" aria-hidden="true"></i>
</div>

<ul>
  <li class="logo" style="font-weight:normal !important;"><a href="/website" title="Website"><span style="color: #CC3232;">UniMantra<span style="color: #6f6f6f;">Network</span></a></li>
  <li class="logo">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" class="  search-query form-control" placeholder="Search" />
        <span class="input-group-btn">
        <button id="search-btn" class="btn btn-danger" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>

        </button>
        </span>
      </div>
      </div>
    </li>
    <div class="whitespace"></div>
    <li class="admin-panel-nav hidden"><a href="/admin/dashboard" title="Admin Panel"><i class="fas fa-user" aria-hidden="true" style="font-size:13px;"></i></a></li>
  <li><a href="/forum" title="Home"><i class="fa fa-home" aria-hidden="true" style="font-size:15px;"></i></a></li>
  <li><a href="/categories-tags" title="Categories"><i class="fas fa-list" aria-hidden='true' style="font-size:15px;"></i></a></li>
  <li><a href="/user/chat" title="chat" target="_blank"><i class="fas fa-comments" aria-hidden="true" style="font-size:15px;"></i> <span class="" style="font-size:10px;" id="notification"></span></a></li>
  <li><a href="/createthread" title="Ask question"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:15px;"></i></a></li>

  <!-- <li>
    <a ><i class="fas fa-cog" title="Settings"></i> </a>
    <ul>
      <li><a href="#">drop1</a></li>
      <li><a href="#">drop2</a></li>
      <li><a href="#">drop3</a></li>
      <li><a href="#">abcd</a></li>
    </ul>
  </li> -->
  <li><a href="/blogs" title="Blogs" target="_blank"><i class="fab fa-blogger"></i></a></li>
  <!-- <li><a href=#>text</a></li> -->


  <li id="login_nav_button"><a  href="/login" title="Login"><i class="fa fa-sign-in-alt"></i></a></li>

  <li id="logout_nav_button" style="display: none;"><a  onclick="logout()" title="Logout"><i class="fa fa-sign-out-alt fa-sign-out" style="font-size:15px;"></i></a></li>

  <li id="avatar_username_nav_button" class="profile-image-name" style="display: none;">
    <nobr><a  id='profile' style="font-size:12px; font-weight:bold; padding: 0 10px;background:#eaeaea; cursor:pointer;" onclick="gotoProfile()" title="Profile"></a></nobr></li>

</ul>

</nav>
